# Ignore the virtual environment folder
venv/
env/
quantumEnvironment/  # This is the name of my virtual environment, you may want to edit it out for yours
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
